{% extends 'base.html' %} {% block content %}

<main>
  <!-- ============================================================================================>START About Section -->
  {% include 'index/partials/about.html' %}
  <!-- =======================================>END About Section -->
  <!---->
  <!--  ===========================================================================================>START SKILLS Section -->
  {% include 'index/partials/skills.html' %}
  <!-- =======================================>END Skills Section-->
  <!---->
  <!-- =============================================================================================START Project section -->
  {% include 'index/partials/project.html' %}
  <!--========================================>END Projects Section-->

</main>

{% endblock content %}
